@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

:root{
    --primary-color: rgb(197, 116, 116);
}
html{
    background-color: rgb(197, 116, 116);
    
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

.material-icons{
    color: rgb(197, 116, 116);
}
.btn {
    width: 150px;
    height: 50px;
    outline: none;
    font-weight: 5em;
    font-size: 5em;
    display: inline-block;
    border-radius: 8px;
    box-shadow: 0 8px 0 rgba(245, 245, 245, 0.5), 0 15px 20px rgba(0, 0, 0, 0.527);
    transition: box-shadow .1s ease-in-out;
    background-color: rgba(255, 255, 255, 0.815);
    color: black;
    text-transform: uppercase;
    cursor:pointer;
}

.input-field{
    max-width: 450px;
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    margin: 10px 0;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 15% 85%;
    
}

.input-field span{
    text-align: center;
    line-height: 50px;
    font-size: 2em;
    color:white;
}


.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 900;
    font-size: 1.2rem;
    color: whitesmoke;
}
.input-field input::placeholder{
    color: whitesmoke;
    font-weight: 500;
    
}



.modal-body{
    background-color: rgba(245, 245, 245, 0.5);
}

.signup-container, .login-container{
   
    font-family: 'Poppins';
    font-style:italic;    
    src: local('Poppins'), url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
    position: absolute;
    width: 100%;
    height: 100%; 
    align-items: center;
    display: flex;
    flex-direction: column;
    
     h2{
         font-size: 3.5em;
         color: rgba(255, 255, 255, 0.685);
     }
     input, .modal-title{
         font-size: 1.5em;
         text-align: center;
     }
   
    h2, input, .modal-title{
        font-weight: bold;
    
    }
}

a{
    font-size: 1.5em;
    float: left;
}
.signup-container{
    margin-top: 10em;
}
.login-container{
    margin-top: 25em;
}